@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 337 60% 94%;
    --foreground: 337 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 337 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 337 15% 20%;
    --primary: 337 58% 65%;
    --primary-foreground: 337 100% 98%;
    --secondary: 337 50% 88%;
    --secondary-foreground: 337 15% 20%;
    --muted: 337 50% 90%;
    --muted-foreground: 337 20% 45%;
    --accent: 300 24% 71%;
    --accent-foreground: 300 15% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 337 30% 85%;
    --input: 337 30% 88%;
    --ring: 337 58% 65%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 337 10% 10%;
    --foreground: 337 60% 94%;
    --card: 337 10% 12%;
    --card-foreground: 337 60% 94%;
    --popover: 337 10% 12%;
    --popover-foreground: 337 60% 94%;
    --primary: 337 58% 65%;
    --primary-foreground: 337 100% 98%;
    --secondary: 337 20% 20%;
    --secondary-foreground: 337 60% 94%;
    --muted: 337 20% 22%;
    --muted-foreground: 337 20% 65%;
    --accent: 300 24% 71%;
    --accent-foreground: 300 15% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 337 20% 25%;
    --input: 337 20% 25%;
    --ring: 337 58% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
